.sc-filtered-list {

	&.sc-filtered-list-sort-asc {
		>.sc-filtered-list-container {
			>.sc-filtered-list-input-container {
				>.sc-filtered-list-sort-toggle {
					&:after {
						content: "˅";
					}
				}
			}
		}
	}

	&.sc-filtered-list-sort-desc {
		>.sc-filtered-list-container {
			>.sc-filtered-list-input-container {
				>.sc-filtered-list-sort-toggle {
					&:after {
						content: "˄";
					}
				}
			}
		}
	}

	&.sc-filtered-list-sort-hidden {
		>.sc-filtered-list-container {
			>.sc-filtered-list-input-container {
				>.sc-filtered-list-sort-toggle {
					display: none;
				}
			}
		}
	}

	/**
	 * List
	 */
	>.sc-filtered-list-container {
		display: none;
		background-color: grey;


		&.sc-filtered-list-container-invisible {
			visibility: hidden;
			display: inherit;
		}

		&.sc-filtered-list-container-visible {
			visibility: visible;
			display: block;
		}

		>.sc-filtered-list-input-container {
			>.sc-filtered-list-input {
				
			}

			>.sc-filtered-list-sort-toggle {
				&:after {
					content: "-";
				}

			}

		}

		>.sc-filtered-list-items {
			position: relative;
			overflow-x: hidden;
			overflow-y: auto;

			.sc-filtered-list-item {

				&.sc-filtered-list-item-active {
					background-color: #aaa;
				}

			}

		}

	}

}